
body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 3%, rgba(9,9,121,1) 39%, rgba(0,212,255,1) 100%); 
}

.inner-square{
    background-color: white;
    border-radius: 25%;
    height: calc((100% / 10 ) - 20px);
    width: calc((100% / 10 ) - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.square{
    width:1000px;
    height: 1000px;
}

.fizz{
    background: rgb(249,255,0);
    background: linear-gradient(90deg, rgba(249,255,0,1) 0%, rgba(162,146,146,1) 100%);
}

.buzz{
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(162,146,146,1) 100%); 
}

.fizz-buzz{
    background: rgb(18,255,0);
    background: linear-gradient(90deg, rgba(18,255,0,1) 0%, rgba(162,146,146,1) 100%); 
}